  <nav>
    <div class="nav-wrapper topnav">
      <a href="/" class="brand-logo center">News Scraps</a>
      <ul id="nav-mobile" class="right">
        <li><a href="scrape">Scrape</a></li>
        <li><a href="https://github.com/Diwari/NewsScraps" targer="blank">Repo</a></li>
      </ul>
    </div>
  </nav>